<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title> ZENIT- Bienvenida</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body class="welcome-bg">

    <div class="welcome-container">
        <img src="/static/img/cohete.png" alt="Cohete" class="rocket">
        <h1 class="title">ZE<span>NIT</span></h1>
        <p class="subtitle">Tu espacio para entender cómo te sientes</p>
        
        {% if error %}
        <p style="color:red; text-align:center; margin-bottom:15px;">
            {{ error }}
        </p>
        {% endif %}

        <form action="/login" method="post">
            <div class="field">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" placeholder="Ingresa tu nombre" required>
            </div>

            <div class="field">
                <label for="clave">Clave</label>
                <input type="password" id="clave" name="clave" placeholder="Ingresa tu clave" required>
            </div>

            <button type="submit">Entrar</button>
        </form>

        <p class="registro-texto">
            ¿No tienes cuenta?
            <a href="/registro" class="registro-link">Registrarse</a>
        </p>
           
    </div>

</body>
</html>
